@charset "UTF-8";

    /*
        Em HTML = id|Em CSS = # (somente um elemento)
        Em HTML = class|Em CSS = . (vários elementos)
    */

body {
    background-color: rgb(226, 212, 196);
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    color: rgb(34, 34, 34);
    font-size: 2em;
}

h1#principal {
    text-align: center;
    font-size: 2.5em;
}

h2 {
    color: rgb(61, 61, 61);
}

h2.basico {
    color: rgb(0, 109, 45);
}

h2.intermediario {
    color: rgb(228, 148, 1);
}

h2.avancado {
    color: rgb(170, 0, 0);
}